{% extends 'base.html' %} {% block title %}Sing Up{% endblock title %} {% block
content %}
<form method="POST">
  <h3 align="center">Sing Up</h3>
  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      placeholder="username"
    />
  </div>
  <div class="form-group">
    <label for="emailaddress">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="emailaddress"
      placeholder="email"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="password"
    />
  </div>
  <div class="form-group">
    <label for="passwordconfirm">Confirm Password</label>
    <input
      type="passwordconfirm"
      class="form-control"
      id="passwordconfirm"
      name="passwordconfirm"
      placeholder="passwordconfirm"
    />
  </div>
</form>
{% endblock %}
